.banner-container {
    .banner-bg-desktop, .banner-bg-mobile {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: flex;
      align-items: center;
    }
    .banner-bg-desktop {
      background-size: cover;
    }
  }
  